<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Fedrigo</title>
<style>
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .image {
        margin: 40px;
        border-radius: 50%;
        width: 200px;
    }

    .skills {
        margin-left: 100px;
    }
    

</style>
</head>
<body>
    <div class="container">
        <img src="../static/images/profile.png" alt="profile picture" class="image">
        <div>
            <h1>Lucas Fedrigo</h1>
            <p>IT Professional, follow me on <a href="https://github.com/ilfedrigo">GitHub</a></p>
            <p>Currently diving into 100 days 100 projects in Python 💻</p>
        </div>
    </div>
    <hr>
    <div class="container skills">
        <div>
            <h2>Skills</h2>
            <p>Communication ⭐️⭐️⭐️⭐️⭐️</p>
            <p>Programming ⭐️⭐️⭐️⭐️</p>
            <p>Web Development ⭐️⭐️</p>
        </div>
    </div>
    
</body>
</html>